/* body start */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* body end */

/* home slide start */
.homeslide{
    height: 800px;
    background-image: url(images/background_images/h_img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
}

#logo-icon{
    position: relative;
    top: 30%;
}
.contentone{
    position: relative;
    top: 35%;
}
#mouse-icon{
    position: relative;
    top: 40%;
}
/* homeslide end */

/* slide two start */
.about{
    height: 300px;
    border: none;
    padding-top: 4%;
    text-align: center;
    line-height: 220%;
}

/* slide two end */

/* slide three start */
.services{
    border: none;
    height: 400px;
    text-align: center;
    line-height: 220%;
    padding-top: 8%;
    color: white;
    background-image: url(images/background_images/s_image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
/* slide three end */

/* slide four start */
.work{
    border: none;
    height: 300px;
    text-align: center;
    padding-top: 4%;
}
.workrow{
    display: flex;
    padding-top: 2%;
    justify-content: space-around;
}

/* slide four end */

/* slide five start */
.portfolio{
    border: 1px solid red;
    height: 800px;
    padding-top: 2%;
    text-align: center;
}
.port-row{
    display: flex;
}